<form action="add" method="post">
	<table>
		<tr>
			<td><label for="user-name">User Name</label></td>
			<td><input type="text" name="userName"></input></td>
		</tr>

		<tr>
			<td><label for="user-password">User Password</label></td>
			<td><input type="text" name="userPassword"></input></td>
		</tr>
		
		<tr>
			<td><label for="confirm-password">Confirm Password</label></td>
			<td><input type="text" name="confirmPassword"></input></td>
		</tr>

		<tr>
			<td></td>
			<td><input type="submit" value="Submit"></input></td>
		</tr>
	</table>
</form>