<html xmlns:th="https://thymeleaf.org">

<table>
	<tr>
		<td><h4>User Name:</h4></td>
		<td><h4 th:text="${user.userName}"></h4></td>
	</tr>
	
	<tr>
		<td><h4>User Password:</h4></td>
		<td><h4 th:text="${user.userPassword}"></h4></td>
	</tr>
	
	<tr>
		<td><h4>Confirm Password:</h4></td>
		<td><h4 th:text="${user.confirmPassword}"></h4></td>
	</tr>
</table>